## This file is part of Whonix.
## Copyright (C) 2017 - 2017 Patrick Schleizer <adrelanos@riseup.net>
## See the file COPYING for copying conditions.

Source: bindp
Section: misc
Priority: optional
Maintainer: Patrick Schleizer <adrelanos@riseup.net>
Build-Depends: debhelper (>= 9), genmkfile
Homepage: https://github.com/Whonix/bindp
Vcs-Browser: https://github.com/Whonix/bindp
Vcs-Git: https://github.com/Whonix/bindp.git
Standards-Version: 3.9.8

Package: bindp
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Binding specific IP and Port for Linux Running Application
 This package is probably most useful for Anonymity Distributions.
 .
 This package is produced independently of, and carries no guarantee from,
 The Tor Project.
